{% extends 'base.html.twig' %}
{% block title %}Open Travel - Login{% endblock %}
{% block body %}
    {% include 'tplPart/menu.twig' %}
    <div id="login">
        <div id="background">
            <div id="color"></div>
            <img class="img-fluid" src="{{ asset('build/images/mountain.jpg') }}">

        </div>
        <div class="container">
            <form method="post">
                <h1>Connexion</h1>
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="flex">
                        Re-bonjour {{ app.user.username }} !
                    </div>
                {% endif %}
                <div class="input-bloc">
                    <label for="inputEmail" >Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                </div>
                <div class="input-bloc">
                    <label for="inputPassword">Mot de Passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de Passe" required>
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <div class="flex">
                    <button class="button" type="submit" name="submit">Se connecter</button>
                </div>
                <div class="flex">
                    <button class="button" type="submit"><a href="">Mot de passe oublié ?</a></button>
                    <button class="button" type="submit"><a href="">Pas encore inscrit ?</a></button>
                </div>
            </form>

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}
        </div>

    </div>
    {% include 'tplPart/footer.twig' %}
{% endblock %}
