<div id="footer" class="" >
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6">
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
            <div class="col-12 col-sm-6">
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
        </div>
        <p class="text-center">©2020 <a href="http://syriane-bonjean.fr">Syriane Bonjean</a></p>
    </div>
</div>
