<div id="menu" class="container-fluid" >
    <div class="d-flex justify-content-between align-content-center">
        <h2 class="">
            Open Travel
        </h2>
        <div class="h-100 d-flex justify-content-between align-content-center">
            <form class="">
                <input type="text" placeholder="search">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
            <button class="">
                <a href="{{ path('app_login') }}">Connexion</a>
            </button>
            <button class="">
                S'enregistrer
            </button>
        </div>
    </div>
</div>

{#<div id="menu" class="container-fluid" >#}
{#    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">#}
{#        <path fill="rgb(29,33,36)" fill-opacity="0.3" d="M0,160L21.8,144C43.6,128,87,96,131,106.7C174.5,117,218,171,262,208C305.5,245,349,267,393,245.3C436.4,224,480,160,524,144C567.3,128,611,160,655,160C698.2,160,742,128,785,117.3C829.1,107,873,117,916,128C960,139,1004,149,1047,128C1090.9,107,1135,53,1178,53.3C1221.8,53,1265,107,1309,117.3C1352.7,128,1396,96,1418,80L1440,64L1440,0L1418.2,0C1396.4,0,1353,0,1309,0C1265.5,0,1222,0,1178,0C1134.5,0,1091,0,1047,0C1003.6,0,960,0,916,0C872.7,0,829,0,785,0C741.8,0,698,0,655,0C610.9,0,567,0,524,0C480,0,436,0,393,0C349.1,0,305,0,262,0C218.2,0,175,0,131,0C87.3,0,44,0,22,0L0,0Z">#}
{#        </path>#}
{#        <foreignobject class="container-fluid" x="0" y=0 width="100%" height="100%">#}
{#            <div class="d-flex justify-content-between align-content-center">#}
{#                <h2 class="">#}
{#                    Open Travel#}
{#                </h2>#}
{#                <div class="h-100 d-flex justify-content-between align-content-center">#}
{#                    <form class="">#}
{#                        <input type="text" placeholder="search">#}
{#                        <button type="submit"><i class="fas fa-search"></i></button>#}
{#                    </form>#}
{#                    <button class="">#}
{#                        Connexion#}
{#                    </button>#}
{#                    <button class="">#}
{#                        S'enregistrer#}
{#                    </button>#}
{#                </div>#}
{#            </div>#}
{#        </foreignobject>#}
{#    </svg>#}
{#</div>#}
