{% extends 'base.html.twig' %}
{% block title %}Open Travel - Home{% endblock %}
{% block body %}
    {% include 'tplPart/menu.twig' %}
    {#    Big first screen   #}
    <div id="homeHeader" class="big-padding">
        <div class="container">
            <div class="row d-flex align-content-center">
                <div class="col-12 col-sm-6">
                    <img class="img-fluid" src="{{ asset('build/images/ivana-cajina-h3YqcK2_Ut8-unsplash.a5bcc424.jpg') }}">
                </div>
                <div class="col-12 col-sm-6">
                    <h2>
                        Le guide de voyage libre
                    </h2>
                    <div class="row">
                        <div class="col-3">
                            <img class="img-fluid" src="{{ asset('build/images/picto.png') }}">
                            <p>Consultez</p>
                        </div>
                        <div class="col-3">
                            <img class="img-fluid" src="{{ asset('build/images/picto.png') }}">
                            <p>Téléchargez</p>
                        </div>
                        <div class="col-3">
                            <img class="img-fluid" src="{{ asset('build/images/picto.png') }}">
                            <p>Voyagez</p>
                        </div>
                        <div class="col-3">
                            <img class="img-fluid" src="{{ asset('build/images/picto.png') }}">
                            <p>Contribuez</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    Second block    #}
    <div id="secondHomeBlock">
        <div class="container">
            <div class="big-padding">
                <h2 class="text-center">Découvrez de nouveaux horizons</h2>
                <div class="row">
                    <div class="col-12 col-sm-4 boxed">
                        <h3>
                            Laos
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Curabitur ac tempus odio, id vestibulum sem. Sed lacinia hendrerit nibh,
                            vitae consequat urna mattis id. Vestibulum efficitur ac ipsum vel finibus.
                            Morbi elementum enim quis sapien convallis, bibendum fermentum libero feugiat.
                            Proin rutrum enim id tristique condimentum. Pellentesque non magna
                            id augue sodales sollicitudin eget id urna. Aenean finibus ex eu bibendum efficitur.
                            Donec eu purus vulputate, lacinia sem in, imperdiet dui.
                        </p>
                    </div>
                    <div class="col-12 col-sm-8">
                        <img class="img-fluid" src="{{ asset('build/images/mountain.jpg') }}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    Third block    #}
    <div id="thirdHomeBlock">
        <div class="container">
            <div class="row big-padding">
                <div class="col-6 col-md-3">
                    <p class="steam strong">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </div>
                <div class="col-6 col-md-3">
                    <p class="steam strong">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </div>
                <div class="col-6 col-md-3">
                    <p class="steam strong">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </div>
                <div class="col-6 col-md-3">
                    <p class="steam strong">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% include 'tplPart/footer.twig' %}
{% endblock %}
