body {
  background-color: transparent;
  font-family: 'Ruda', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: black;
  margin: 0;
}

button {
  margin: 5px;
  text-decoration: none;
  color: #fff;
  background-color: #020703;
  text-align: center;
  letter-spacing: 2px;
  font-size: 14px;
  outline: 0;
  border: none;
  border-radius: 5px;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  &:hover {
    background-color: #576163;
  }
}

input{
  background-color: rgba(29,33,36, 0.3);
  border: none;
  border-radius: 5px;
  outline: none;
  height: 3rem;
  font-size: 16px;
  margin: 2px 0 8px 0;
  padding: 0 0 0 10px;
}

.h-100 {
  height: 100%;
}
.img-fluid {
  //max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.big-padding {
  padding: 150px 0;
}
.steam {
  text-align: center;
  background-color: white;
  padding: 20px;
  box-shadow: 2px 25px 63px -6px rgba(0,0,0,0.7);
}
.text-center {
  text-align: center;
}
