#homeHeader {
  background-image: url("../img/guillaume-briard-VcFldyXoO7Q-unsplash.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 400px;
  padding-top: 300px;
}
.bg-dark {
  background-color: #1b1e21;
}

#secondHomeBlock{
  background-color: #020703;
  margin: -200px 0;
  clip-path: polygon(0 18%, 100% 0, 100% 100%, 0 88%);
  color: white;
}
.boxed {
  border: solid 2px;
  border-image: linear-gradient(150deg, rgba(0,0,0,0) 40%, rgba(235,225,0,1) 100%) 5;
}

#thirdHomeBlock{
  background-image: url("../img/ivana-cajina-h3YqcK2_Ut8-unsplash.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
}
