#login{
  #background {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    z-index: -1;
  }
  #color{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #721e1f;
    opacity: 1;
    clip-path: polygon(0 0, 46% 0, 63% 100%, 0% 100%);
  }
  form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
  }
  .container{
    min-height: 85vh;
  }
  .input-bloc{
    display: flex;
    flex-flow: column;
    width: 50%;
  }
  input {
    background-color: rgba(29,33,36, 0.9);
    color: white;
  }
}
